# build output
dist/
.output/

# dependencies
node_modules/

# astro
.astro/

# environment
.env
.env.production
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# macOS
.DS_Store

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
